* {
    margin: 0;
    padding: 0;
}

.bar {
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
}

.header {
    display: grid;
    place-items: center;
    padding: 10px;
    margin-left: 10px;
}

.header h1 {
    font-size: 32px;
    font-family: monospace, sans-serif;
}

.content {
    display: grid;
    place-items: center;
    padding: 10px;
    margin-left: auto;
    margin-right: 10px;
}